:root{
    --navy: #01031a;
    --blue: #2196F3;
}

.doctorCard {
    padding: 4rem;
}

.cardHeadr{
    color: var(--navy);
}

.cardSubtitles{
    color: var(--blue);
    font-weight: bold;
}

.cardText{
    padding-left: 1rem;
    color: var(--navy);
    font-weight: normal;
}